:root {
  --primary-color: #f4d8cd;
  --dark-accent-blue: #1e555c;
  --mid-yellow: #edb183;
  --dark--af: #3a2e39;
}
body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Odibee Sans", cursive;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-accent-blue);
  height: 100px;
}
nav h1 {
  font-size: 40px;
  letter-spacing: 1em;
}
#form-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background-color: var(--mid-yellow);
  color: black;

  /* padding: 40px; */
}
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}
li {
  list-style: none;
}

.newCard {
  border-radius: 5px;
  border: 1px solid var(--dark--af);
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 3%;
  background-color: var(--mid-yellow);
  color: white;
  color: var(--dark--af);
  transition: 0.3s ease;
  font-size: 20px;
  
}
.newCard:hover {
  width: 21%;
  box-shadow:30px 30px ;
  transition: 0.3s ease;
}
.carousel {
  border: 0;
  margin: 5%;
  position: relative;
  text-align: center;
  color: white;
}

.middle-text {
  position: absolute;
  top: 50%;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Modak", cursive;
  font-size: 70px;
  letter-spacing: 2px;
  text-shadow: 1px 1px black;
}
fieldset{
    background-color: white;
}
legend {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 50%;
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5%;
  margin-bottom: 5%;
}
.q {
  margin: 2%;
}
#tickmarks {
  display: flex;
  margin-left: 100px;
}
#dollarSigns {
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffff00;
  height: 1px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: var(--dark-accent-blue);
  color: white;
  font-size: 20px;
  padding: 2%;
  border-radius: 5px;
  transition: 0.3s ease;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--dark-accent-blue);
  transition: 0.3s ease;
}
.edit-form  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    margin-top: 6%;
}
.e {
    margin: 5%;
}

button.submitBtn {
    padding: 5%;
    align-self: center;
    margin-bottom: 1%;
    
}

footer {
    background-color: var(--dark--af);
    height: 200px;
}
.bottomLinks {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    justify-content: space-evenly;
    font-size: 40px;
}
.b {
    margin-top: 5%;
    color: grey;
}
a:link {
    color: #f4d8cd  ;
}
a:visited {
  color:grey;
}